
.Rest{
	margin-top: 20px;
	margin-left: 5%;
	float: left;
	display: ;
}

body{
	margin: 0;
}

.topnav {
	Font-family: Mulish;
	Font-size: 16px;
	Line-height: 120%;
	/*text-align: left;*/
	margin-left: 535px;
	width: 416px;
    padding: 20px 0;
    border: 0;
    vertical-align: baseline;
}

.topnav ul{
	list-style: none;
	padding-left: 0;
	display: flex;
	justify-content: space-between;
}

li{
	display: inline;
}

.topnav a {
	text-decoration:none;
	color: rgba(13, 54, 68, 0.6);
	font-family: Mulish;
	
}

.topnav a: hover {
	text-decoration: line-through;
}

.topnav a.active {
	color: rgba(13, 54, 68, 1);
	text-decoration: underline ;
}

h1 {
	color: rgba(13, 54, 68, 1);
	line-height: 1.2;
	font-size: 48px;
	font-family: Playfair Display;
	font-weight: Bold;
	margin: 0;
    padding: 0;
    border: 0;
    
	/*text-decoration: underline;
	text-decoration-color: rgba(13, 54, 68, 1.0);
	font-size: 100%;
    font: inherit;*/
}

h2 {
	color: rgba(13, 54, 68, 1);
	line-height: 1.2;
	font-size: 32px;
	text-decoration: underline;
	text-decoration-color: rgba(13, 54, 68, 1.0);
	font-family: Playfair Display;
	font-weight: Bold;
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
	/*Line height: 64px
	Line height: 150%*/
}

h3 {
	color: rgba(13, 54, 68, 1);
	line-height: 1.2;
	font-size: 32px;
	font-family: Playfair Display;
	font-weight: Bold;
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
/*	text-decoration: underline;
	text-decoration-color: rgba(13, 54, 68, 1.0);
	text-underline-position: ;*/
}

h4 {
	color: rgba(255, 255, 255, 1);
	line-height: 44px;
	font-size: 32px;
	font-family: Playfair Display;
	font-weight: Bold;
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

h5 {
	line-height: 1.4;
	font-size: 24px;
	font-family: Playfair Display;
	font-weight: Bold;
	margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
	Line-height: 64px;
	Line-height: 150%;
}

	p{
		margin: 0;
    	padding: 0;
    	border: 0;
	}

.Image1{
	position: relative;
	float: right;
	margin-right: 66px;
	width: 749px;
	height: 840px;
	z-index: -1;
}

.boarder1{
	margin-top: 300px;
	margin-left: 5%;
}


.middleTab {
	margin-top: 340px;
	background-color: rgba(246, 246, 246, 1);
	box-sizing: border-box;
	width: 930px;
	height: 134px;
	padding:  35px 35px 35px 67px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex0{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 56px;
}

.flex0 p:first-child{
	Font-family: Mulish;
	Font-style: Regular;
	Font-size: 12px;
	Line-height: 24px;
	Line-height: 159%;
	Align: Left;
	Vertical-align: Top;
	color: rgba(13, 54, 68, 1);
}

.flex0 p:last-child{
	Font-family: Mulish;
	font-weight: Bold;
	Font-size: 14px;
	Line-height: 24px;
	Line-height: 137%;
	Align: Left;
	Vertical-align: Top;
	color: rgba(13, 54, 68, 1);
}

.bookNow{
	color: white;
	width: 195px;
	height: 64px;
	background-color: rgba(246, 174, 45, 1);
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	font-family: Mulish;
	font-style: Bold;
	font-size: 16px;
	line-height: 24px;
	vertical-align: top;
}

.bookNow2{
	border: solid 1px;
	color: white;
	width: 145px;
	height: 54px;
	text-align: center;
	padding-top: 15px;
	box-sizing: border-box;
	font-family: Mulish;
	font-style: Bold;
	font-size: 16px;
	line-height: 24px;
	vertical-align: top;
}

.RightAlign{
	position: absolute;
	right: 0;
}

.middle0{
	margin-top: 170px;
	margin-left: 10%;
}

.middle{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 40px;
}
.middle .middle1{
	width: 505px;
	color: rgba(13, 54, 68, 1);
	font-family: Mulish;
}


.Image7{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}

.Rooms{
	margin-top: 100px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%;
	color: white;
}

.RoomsFlex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#StandardRoom{
	background-image: url(StandardRoom.jpg);
	width: 650px;
	height: 400px;
	padding: 50px;
	box-sizing: border-box;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
}

#GoldRoom{
	background-image: url(GoldRoom.jpg);
	width: 400px;
	height: 400px;
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
}

#SilverRoom{
	background-image: url(SilverRoom.jpg);
	width: 100%;
	height: 400px;
	padding: 50px;
	box-sizing: border-box;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-size: cover;
	background-position: center;
}

.lowerTab{
	box-sizing: border-box;
	padding: 5% 10% 8% 10%;
	margin-top: 91px;
	height: 447px;
	width: 100%;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(13, 54, 68, 1);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h6 {
	Font-family: Lato;
	Font-size: 12px;
	Line-height: 24px;
	Line-height: 167%;
	margin: 0;
    padding: 0;
    border: 0;
}


#lowerTabFlex{
	/*margin-top: 91px;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer{
	margin-bottom: 20px;

}


.footer1{
	display: flex;
	justify-content: space-evenly;
    flex-direction: column;
	background-color: rgba(243, 243, 243, 0.37);
	height: 377px;
	padding: 5% 0% 5% 0%;
	width: 100%;
	margin-bottom: 20px;
}

.footerCenter{
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	text-align: center;
}



.footer2{
	padding-top: 30px;
	margin-left: 580px;
	margin-right: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.PageTitlePic{
	float: right;
	width: 815px;
}

.PageTitle{
	margin-left: 5%;
	margin-top: 300px;
	margin-bottom: 200px;
}

.middle2{
	width: 715px;
	color: rgba(13, 54, 68, 1);
	font-family: Mulish;
	margin-left: 10%;
}

.Pictures{
	margin-bottom: 100px;
	margin-left: 10%;
	margin-top: 120px;
	margin-right: 10%;
}

.column{
	float: left;
	width: 50%;
	box-sizing: border-box;
	
}

.width100{
	width: 1045px;
	margin-top: 25px;
}
.column img {
	margin-top: 17px;
}

.ContactForm{
	width: 1025px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	padding: 120px 120px 120px 120px;
	box-sizing: border-box;
	border: rgba(246, 174, 45, 1) solid 0.5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.FormRow{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.formBox{
	width: 610px;
	height: 50px;
}

.formBox2{
	width: 610px;
	height: 200px;
}

.Submit{
	color: white;
	width: 195px;
	height: 64px;
	background-color: rgba(13, 54, 68, 1);
	font-family: Mulish;
	font-size: 16px;
	border: none;
	padding: 0 0 0 0;
	position: absolute;
	right: 280px;
}